
<!-- endsec -->
<div class='container-fluid endSec text-center'>
  <div data-aos="zoom-in"> 
    <a href="/"><img class='logoAtEnd'src='/img/logo.png' alt="knowledgehouse logo"></a>      </br>

    <!-- <a href=""><button type="button" class="btn btn-sm btn-danger">&ensp; CONTACT US &ensp;</button></a>    <br>-->

     <a href="https://www.facebook.com/theknowledgehouse/" target="blank">
      <img class="socialMedia" src="img/facebook.png" alt="facebook"></a>
    
    
    
    <a href="https://www.instagram.com/theknowledgehouse/" target="blank">
      <img class="socialMedia" src="img/insta.png" alt="instagram"></a>
    
    
    
    <a href="https://twitter.com/TheKnowledgeHou?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="blank">
      <img class="socialMedia" src="img/tweet.png" alt="twitter"></a>
    
    
    
    
    
    <a href="https://www.linkedin.com/school/theknowledgehouse/" target="blank">
     
      <img class="socialMedia" src="img/linkeden.png" alt="linkeden"></a>
      <p class="textPurpleEnd">Contact Us:363 Rider Ave. 3rd Fl Bronx NY 10451, info@theknowledgehouse.org</p>
    </div>
    </div>
    <!-- the bottom section with links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="javascript/aos.js"></script>
<script>AOS.init();</script>