<header class="navbar navbar-expand navbar-dark flex-column flex-12-xl-row bd-navbar headerColor sticky-top">
    <a class="navbar-brand mr-0 mr-md-2 textPurple" href="/"><img width="auto" height="36"src="img/logo.png" alt="TheKnowledgeHouse">TheKnowledgeHouse</a>
  
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link navWhite textPurple navAni" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navWhite textPurple navAni" id="resourcesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"href="">Resources</a>
          <div class="dropdown-menu"id="resourceDropdown" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item navAni" href="/api_documentation">Api Documentation</a>
        </li>
<li class="nav-item">
  <a class="nav-link navWhite textPurple navAni" href="" >Contact Us</a>
</li>
<li class="nav-item">
  <a data-toggle="modal" data-target=".login-modal-lg" class="nav-link navWhite textPurple navAni" href="/login">Log in</a>
</li>
</ul>
</div>
</header>