
body {font-family: 'lato';
}

.textYellow{
    color:#febc00 !important;
}
.textPurple{
    color:#332459 !important;
}
.textWhite{
    color: #ffffff !important;
}

.navbar-dark{
    background-color: #332459 !important;
}
#logoTop{
    height:50px;
    padding-bottom: 5px;
}
.bg-dark{
    background-color: #332459 !important;
}


.headings{
    margin:20px;
    font-size: 1.7em;
    text-align: center;
}


.overFlowingMid{
    height:100vh;
    overflow-y: scroll;
}
.overFlowingEnd{
    height: 100vh;
    overflow-y: scroll;
}
.screenShots{
    width:90%;
    height: auto;
}

.backgroundEnd{
    background-color: #393939;
}



/* .col-12.col-md-2{
    padding-left: 0px;
    padding-right: 0px
} */
                              /* nav bar starts here...... header might need to be turned back into myNavbar */
.myNavbar {
    display: block;
}
@media (min-width: 768px){
.sideLinks{display: block!important}
} 



.collapse:not(.show){  
        display: none
}
.sideLinks{
    padding-left: 1vw
}
.topics{
    margin-top:3%;
    margin-bottom:3%
 }
                                 /* nav bar ends here */
header{
    position: sticky;
}
@media (max-width: 576px){
.col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
      }
 @media (max-width: 576px){
.overFlowingEnd {
-ms-flex: 0 0 0%;
flex: 0 0 0%;
max-width: 0%;
max-height:0%;
display: none;
}
 }
 @media(min-width:992px){
    .nav-link{
        padding: .5rem 1rem;
    }
}
@media(max-width:992px){
    .nav-link{
        padding: 0%
    }
}
@media(min-height:992px){
    .nav-link{
        padding: 1rem 1rem;
    }
}