/* general css used all around the site */
h1{
    font-size: 2rem
}
.textWhite{
    color: #ffffff
    }

.textYellow{
        color:#ffd249;
        padding-left: 15vw;
        padding-right: 15vw;
    }
    
body {font-family: 'lato';
}

.textPurple{
    color: #332459 !important;
}


/* nav bar css */

.linkani {
    display: inline-block;
    color: #332459;
    text-decoration: none;
}

.linkani::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #332459;
    transition: width .5s;
}

.linkani:hover::after {
    width: 100%;
}

@media (max-width: 991.98px){}.bd-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;}
}

.navWhite{
    padding-right: .5rem;
    padding-left: .5rem;

}

@media (max-width: 991.98px){
.bd-navbar-nav{
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
}
}
.headerColor{
    background-color: white;
}
/* uses this css button for the log in's and the aboutTkh buttons */
.btn-warning {
    color: #332459 ;
    background-color:#ffd249 ;
    border-color:#ffd249;
    border-radius: 40px;
}
/* end of nav bar */



/* image on top with purple start */
.topPic{
    background-image: url(../img/coder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    background-position: center;
    padding: 0 !important;
    background-attachment: fixed;
    /*.bgImage {padding: 0%;} dont think i need this...just in case*/
}

.boxOver{
    background-color: #332459;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: relative;
}
.textOverlay {
    left: 0;
    position: absolute;
    top: 25%;
    width: 100%;
}
.textUnderHead{
    margin-top: 3%
}
/* image on top purple end */






/* css for the why us section start */

.textEfficient{
    padding-left: 5%
}

.textImprovement{
    padding-right: 5%
}

.whyUsPadding{
padding-top: 15pt;
padding-bottom :15pt;
}

/* css for the why us section end */



/* css for bottom picture */
.bottomPic{
    background-image: url(../img/codePeep.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center;
    background-attachment: fixed;
    /* padding: 0 !important; */
    /*.bgImage {padding: 0%;} dont think i need this...just in case*/
}

.boxOverBottom{
    background-color: #332459;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: relative;
}

.bottomTextOverlay{
position: relative;
bottom:80%;
left: 0;
width: 100%;
}


/* css for the end section */
.endSec{
height:100%;
width: 100%;
background-color: #ffd249 ;
margin-right: 0%;
margin-left: 0%;
padding-top: 1%;
}

.socialMedia {
height: 3vh;
width:auto;
margin: 1%;
}

.btn-primary{
    background-color:#ffd249 ;
    border-color: #332459;
    color: #332459;
  size: 5vh;
}

.btn-danger{
    color: #ffffff ;
    background-color:#332459 ;
    border-color: #332459;
    border-radius: 40px;
    font-size: 1.25em;
}
.dropdown-menu{
    position: absolute;
    right: 0;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    
}


/* Style the links inside the navigation bar */
a.navAni {
    color: #332459 !important;
    display: block;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 0;
       float:left;
    position: relative;
  }
  
  /* Change the color of links on hover */
   a.navAni:hover {
    color: #FFD249 !important;
    -webkit-transition: all 0.3s ease-in-out 0s; 
    transition: all 0.3s ease-in-out 0s;
  }
   a.navAni:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFD249;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  a.navAni:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }