<!DOCTYPE html>
<% include ../partials/head %>
<% include ../partials/header %>

<!-- this is the image with a purple filter on top -->
<div>
    <div class="container-fluid topPic p-0">
      <div class="boxOver p-0 m-0">
      </div>
    </div>
    <div class="textOverlay text-center textWhite">
      <h1>Start using the TKH LMS today!</h1>
      <p class="textUnderHead textYellow">TheKnowledgeHouse is about providing the tools necessary to teach our alumni to succeed.
         find out how You can benifit from using TheKnowledgeHouse's Learning manegment system</p>
         <br>
         <a href="http://www.theknowledgehouse.org/about/" target="blank" ><button type="button" class="btn btn-sm btn-warning"><b>&ensp;About TheKnowledgeHouse&ensp;</b></button></a>
    </div>
    </div>
    
    
    <!-- this is the why us section div -->
    <div class="container">
    <!---this is the why us section-->
      <H1 class="text-center textPurple whyUsPadding">Why Us?</H1>
    
      <div class="row">
          <div data-aos="fade-up" class="col text-center whyUsPadding"><img src="img/Efficient.jpg">
            <h1 class="textPurple">efficient!</h1>
            <p class="textPurple textEfficient">Our LMS offers efficient systems and techniques to facilitate learning.</p></div>
          <div data-aos="fade-up" class="col text-center whyUsPadding"><img src="img/New.jpg" alt="New Technologies">
            <h1 class="textPurple">New!</h1>
            <P class="textPurple">Our LMS uses the most modern technology and most up to date practices.</P></div>
          <div data-aos="fade-up" class="col text-center whyUsPadding"><img src="img/Improve.jpg" alt="improve productivity">
            <h1 class="textPurple">Improvement!</h1>
            <P class="textPurple textImprovement">Our LMS is a great way to boost YOUR Skill and help improve on the skills you already have.</P></div>
        </div>
    </div>
    
    
    <!-- improve Efficiency tab -->
        <div class="container-fluid bottomPic p-0">
          <div class="boxOverBottom p-0 m-0">
          </div>
          <div data-aos="zoom-in" class="bottomTextOverlay text-center textWhite">

         <h1>Improve Efficiency! <br> Why Wait?</h1>
            <p class="textUnderHead textYellow">the more you wait  the closer the competition gets, dont let them catch up
             start using the most modern, efficient, and effective LMS today!</p>
            <br>
            <h1>Already have an account?</h1>
    
             <a href=""><button type="button" class="btn btn-lg btn-warning"><b>&ensp;Log In&ensp;</b></button></a>
          </div>
        </div>

    <% include ../partials/footer %>
    </body>
    </html>